{{#each this}}
<h2>{{name}}</h2>
<div class="description">
<p><b>Capital:</b> {{capital}}</p>
<p><b>Population:</b> {{population}}</p>
<div>
    <p><b>languages:</b></p>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</div>
</div>
<img src="{{flag}}" alt="" class="images">
{{/each}}